@use "sass:math";
//====================================================================================================
.mainblock {
    min-height: 100vh;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    justify-content: center;
    // align-items: center;
    text-align: center;
    padding: 50px 0px;
    @media screen and (max-width: $md3+px), screen and (max-height: 600px) {
        padding: 20px 0px;
    }
    // .mainblock__content

    &__content {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .mainblock__logo

    &__logo {
    }

    // .mainblock__text

    &__text {
        color: #ffffff;
        position: relative;
        padding: 0px 0px 45px 0px;
        margin: 30px 0px;
        &::after {
            content: "";
            width: 105px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin: 0px 0px 0px -52.5px;
            bottom: 0;
        }
    }

    // .mainblock__title

    &__title {
        font-size: 34px;
        line-height: math.div(40, 34) * 100%;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        margin: 0px 0px 10px 0px;
        @media screen and (max-width: $md3+px), screen and (max-height: 600px) {
            font-size: 25px;
            line-height: math.div(30, 25) * 100%;
        }
    }

    // .mainblock__subtitle

    &__subtitle {
        font-size: 26px;
        font-weight: 400;
        line-height: math.div(40, 34) * 100%;
    }

    // .mainblock__footer

    &__footer {
        display: inline-flex;
        flex-direction: column;
    }

    // .mainblock__btn

    &__btn {
        margin: 0px 0px 60px 0px;
    }

    // .mainblock__arrow

    &__arrow {
        position: relative;
        animation: arrow 1s infinite linear;
    }

    // .mainblock__image

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@keyframes arrow {
    0% {
        top: 0;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}

//====================================================================================================
